/* Teste322 */

body {
    /*background-image: url("../Images/fundo2.png");*/
    max-width: 500px;
    margin: auto;
    background-size: 100%;
    background-color: #fafafa;
    overflow: hidden;
    background-repeat-x: no-repeat;
    /* background-position: fixed; */
}

.logos {
    position: relative;
    top: 10px;
    text-align: center;
    background-color: #EDECEC;
    box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.58);
    height: 45px;
    z-index: 9;
    /*border-radius: 16px;*/
}

.clarice {
    max-width: 490px;
    margin-left: 4px;
    text-align: center;
    height: 85px;
    background: #446084;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    z-index: 99999999999;
    margin-top: 10px;
}

.titleBot {
    position: absolute;
    width: 100%;
    height: 31px;
    left: 0px !important;
    bottom: 28px;
    font-family: arial;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #446084;
}

hr {
    position: relative;
    bottom: 27px;
    height: 0.5px;
    color: #9F9F9F;
}

#claro {
    position: relative;
    height: 23px;
    /*bottom: 1px;*/
    top: 13px;
    right: 94px;
    z-index: 99999999999;
}

#agente {
    position: relative;
    height: 60px;
    /*width: 120px;*/
    bottom: -17px;
    /*top: 26px;*/
    right: -11px;
    text-align: center;
    z-index: 99999999999;
}

#aec {
    position: relative;
    height: 22px;
    /*bottom: 0px;*/
    top: 15px;
    /*right: 0px;*/
    left: 93px;
    z-index: 99999999999;
}

.logoaec {
    text-align: center;
    padding-right: 100px;
}

#movil {
    position: fixed;
    height: 53px;
    bottom: 1px;
    z-index: 99999999999;
}

/* reset */

body .wc-app,
.wc-app button,
.wc-app input,
.wc-app textarea {
    font-family: Roboto;
    font-size: 15px;
}

.wc-app button {
    background-color: #446084;
    border: 1px solid #cccccc;
    border-radius: 1px;
    color: #ffffff;
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease;
}

.wc-app h1,
.wc-app h2,
.wc-app h3,
.wc-app h4,
.wc-app p,
.wc-app ul,
.wc-app ol {
    margin: 0;
    padding: 0;
}

.wc-app audio,
.wc-app video {
    display: block;
}


/* docking */

.wc-hidden {
    visibility: hidden;
}

.wc-header {
    /* background-image: url("../Images/header.png"); */
    background-repeat: no-repeat;
    background-color: #EAEAEA;
    box-shadow: 0 0px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    color: transparent;
    font-weight: 500;
    height: 30px;
    width: 100%;
    left: 0;
    letter-spacing: 0.5px;
    padding: 800px 8px 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 0px 0px 15px 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}


    /*Apagar Bate papo do cabeçalho*/

    .wc-header span {
        display: none;
    }

.wc-time {
    color: #999999;
    margin-bottom: 10px;
}

.wc-message-groups {
    /* background-image: url("../Images/wallpaper.png"); */
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    bottom: 60px;
    left: 0;
    transform: translateY(0);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    position: absolute;
    right: 0;
    top: -10px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
}

    .wc-message-groups.no-header {
        top: 0;
    }

.wc-message-group-content {
    overflow: hidden;
}

.wc-suggested-actions {
    background-color: #f9f9f9;
    bottom: 50px;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: height 0.2s cubic-bezier(0, 0, 0.5, 1);
}

    .wc-suggested-actions .wc-hscroll > ul {
        height: 40px;
        padding: 2px 3px;
    }

        .wc-suggested-actions .wc-hscroll > ul > li {
            display: inline-block;
            margin: 2px;
            max-width: 40%;
        }

            .wc-suggested-actions .wc-hscroll > ul > li button {
                background-color: #fff;
                color: #446084;
                min-height: 32px;
                overflow: hidden;
                padding: 0 16px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }

                .wc-suggested-actions .wc-hscroll > ul > li button:focus,
                .wc-suggested-actions .wc-hscroll > ul > li button:hover {
                    background-color: #fff;
                    border-color: #446084;
                    color: #446084;
                }

                .wc-suggested-actions .wc-hscroll > ul > li button:active {
                    background-color: #446084;
                    border-color: #446084;
                    color: #ffffff;
                }

    .wc-suggested-actions button.scroll {
        background-color: #d2dde5;
        height: 40px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0;
        width: 28px;
    }

        .wc-suggested-actions button.scroll:disabled {
            display: none;
        }

        .wc-suggested-actions button.scroll:focus,
        .wc-suggested-actions button.scroll:hover {
            background-color: #808c95;
        }

        .wc-suggested-actions button.scroll svg {
            fill: #ffffff;
        }

            .wc-suggested-actions button.scroll svg path {
                transform: translateY(6px);
            }

        .wc-suggested-actions button.scroll.previous {
            left: 0;
        }

        .wc-suggested-actions button.scroll.next {
            right: 0;
        }

.wc-message-pane.show-actions .wc-message-groups {
    transform: translateY(-40px);
}

.wc-message-pane.show-actions .wc-suggested-actions {
    height: 40px;
}

.wc-carousel-item {
    /*float: left;*/
    margin: 5px;
}

/* views */
.wc-chatview-panel {
    border: 1px solid #E3E3E3;
    background-color: none;
    overflow: hidden;
    position: absolute;
    margin: auto;
    max-width: 490px;
    right: 3px;
    left: 0;
    top: 80px;
    margin-bottom: 9px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


/* messages */

.wc-message-wrapper {
    animation: animationFrames 2s;
    animation-iteration-count: 1;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding-top: 25px;
    /*transition: max-height 2s ease-in-out;*/
}

@keyframes animationFrames {
    0% {
        /*max-height: 0;*/
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        /*max-height: 2000px;*/
    }
}

.wc-message {
    position: relative;
}

.wc-message-wrapper.carousel .wc-message {
    max-width: none;
    width: 85%;
    padding-right: 50px;
}

.wc-message svg.wc-message-callout {
    height: 22px;
    position: absolute;
    stroke: none;
    top: 12px;
    width: 6px;
}

.wc-message-content {
    border-radius: 8px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 22px 15px 22px;
    word-break: break-word;
}

    .wc-message-content.clickable {
        cursor: pointer;
    }

    .wc-message-content.selected {
        box-shadow: 0px 1px 1px 0px #ffa333;
    }

    .wc-message-content img {
        max-height: 320px;
        max-width: 100%;
    }

    .wc-message-content .video iframe {
        border: 0;
    }

    .wc-message-content audio,
    .wc-message-content video {
        max-width: 100%;
    }

        .wc-message-content audio + h1,
        .wc-message-content video + h1 {
            margin-top: 11px;
        }

.wc-message-from {
    clear: both;
    color: #767676;
    font-size: 11px;
    margin-top: 5px;
}


/* cards */

.wc-card {
    background-color: transparent;
}

    .wc-card .non-adaptive-content {
        margin: 8px 8px 0 8px;
    }

    .wc-card button {
        /*background-color: #446084;*/
        background-color: #446084;
        color: white;
        min-height: 32px;
        /*min-width: 50%;*/
        padding: 0 16px;
        margin: auto;
        border-radius: 4px;
    }

        .wc-card button:hover {
            /*background-color: #901a11;*/
            background-color: white;
            border-color: transparent;
            color: #446084;
        }

        .wc-card button:active {
            background-color: white;
            border-color: transparent;
            color: #446084;
        }

        .wc-card button:visited {
            background-color: white;
            border-color: transparent;
            color: #446084;
        }

    .wc-card.receipt table {
        border-collapse: collapse;
        width: 100%;
    }

    .wc-card.receipt th,
    .wc-card.receipt td {
        text-align: right;
        vertical-align: top;
    }

        .wc-card.receipt th:first-child,
        .wc-card.receipt td:first-child {
            text-align: left;
        }

    .wc-card.receipt th {
        color: #808c95;
        font-size: inherit;
        font-weight: normal;
        line-height: 1.75;
    }

    .wc-card.receipt thead tr:last-child th {
        padding-bottom: 16px;
    }

    .wc-card.receipt th[colspan="2"] {
        color: inherit;
        font-size: 15px;
        font-weight: 700;
    }

    .wc-card.receipt td {
        padding: 4px 8px 0 8px;
    }

        .wc-card.receipt td img {
            float: left;
            margin: 5px 8px 8px 0;
            max-height: 50px;
            max-width: 50px;
        }

    .wc-card.receipt div.title {
        font-weight: bolder;
    }

    .wc-card.receipt div.subtitle {
        font-weight: lighter;
    }

    .wc-card.receipt tbody tr,
    .wc-card.receipt tfoot tr {
        border-top: 1px solid #d2dde5;
    }

        .wc-card.receipt tbody tr:first-child,
        .wc-card.receipt tfoot tr:first-child {
            border-top-width: 2px;
        }

    .wc-card.receipt tfoot td {
        line-height: 2.25;
    }

    .wc-card.receipt tfoot .total {
        font-weight: bold;
    }

    .wc-card.thumbnail img {
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        width: 100px;
    }

    .wc-card.signin h1 {
        margin: 10px 24px 16px 14px;
    }

    .wc-card.error {
        text-align: center;
    }

        .wc-card.error .error-icon {
            fill: #cccccc;
            height: 56px;
            margin-bottom: 2px;
            margin-top: 20px;
            padding-left: 12px;
        }

        .wc-card.error .error-text {
            color: #cccccc;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
            text-align: inherit;
        }


/* alternate chat sizes */

.wc-message {
    max-width: 85%;
}

.wc-card {
    border: 1px solid white;
    width: 302px;
    border-radius: 0px !important;
}

.wc-adaptive-card {
    width: 318px;
}

.wc-wide .wc-card {
    border: 1px solid #d2dde5;
    width: 398px;
}

.wc-wide .wc-adaptive-card {
    width: 414px;
}

.wc-narrow .wc-card {
    border: 1px solid #d2dde5;
    width: 198px;
}

.wc-narrow .wc-adaptive-card {
    width: 214px;
}


/* adaptive card adjustments from wc-card */


/* Alterar imagem dentro do carousel*/

.ac-image {
    margin: auto;
    width: 99% !important;
    position: relative;
    left: 8px;
}

    .ac-image img {
        max-height: 150px !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        top: 0px;
        left: -9px;
    }

.ac-container div {
    white-space: normal !important;
    text-align: center !important;
}

/* Alterar texto dentro do carousel */
.wc-adaptive-card p {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}


/* list */

.wc-list > .wc-card {
    margin-top: 8px;
}

    .wc-list > .wc-card:first-child {
        margin-top: 0;
    }


/* horizontal scroll */

.wc-hscroll-outer {
    /* allow horizontal scrolling but hide the scrollbar */
    overflow: hidden;
}

.wc-hscroll {
    /* allow horizontal scrolling but hide the scrollbar */
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 0px !important;
}

    .wc-hscroll > ul {
        white-space: nowrap;
    }

        .wc-hscroll > ul > li {
            display: inline-block;
            vertical-align: top;
            white-space: normal;
        }


/* carousel */

.wc-carousel {
    position: relative;
}

    .wc-carousel button.scroll {
        /*background-color: #d2dde5;*/
        background-color: #446084;
        border-radius: 15px;
        /*height: 28px;*/
        height: 60px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        /*top: 50%;*/
        top: 30%;
        width: 28px;
        outline: none;
    }

        .wc-carousel button.scroll:disabled {
            display: none;
            outline: none;
            background-color: #E3E3E3;
        }

        .wc-carousel button.scroll:focus,
        .wc-carousel button.scroll:visited,
        .wc-carousel button.scroll:active,
        .wc-carousel button.scroll:link,
        .wc-carousel button.scroll:disabled,
        .wc-carousel button.scroll:hover {
            background-color: #E3E3E3;
            outline: none;
        }

        .wc-carousel button.scroll svg {
            fill: #ffffff;
            padding-top: 15px;
            margin-left: -1px;
        }

            .wc-carousel button.scroll svg:focus,
            .wc-carousel button.scroll svg:visited,
            .wc-carousel button.scroll svg:active,
            .wc-carousel button.scroll svg:link,
            .wc-carousel button.scroll svg:disabled,
            .wc-carousel button.scroll svg:hover {
                fill: #446084;
                padding-top: 15px;
                margin-left: -1px;
            }

        .wc-carousel button.scroll.previous {
            left: -16px;
            z-index: 9999;
        }

        .wc-carousel button.scroll.next {
            right: -16px;
            z-index: 9999;
        }

    .wc-carousel .wc-hscroll > ul {
        margin-left: -4px;
    }

        .wc-carousel .wc-hscroll > ul > li {
            padding: 0 4px;
        }

            .wc-carousel .wc-hscroll > ul > li:last-child {
                padding-right: 0;
            }

    .wc-carousel li p {
        min-height: 4em;
        white-space: normal;
    }

    .wc-carousel li .wc-adaptive-card p {
        min-height: initial;
    }


/* from me */
.format-plain {
    position: relative;
    top: 3px;
}

.wc-message-from-me {
    float: right;
    margin-left: 35px;
    font-family: Roboto;
    font-weight: normal;
    margin-right: 0px !important;
}

    .wc-message-from-me.wc-message-from {
        text-align: right;
    }


        /* Apagar ID do usuário na mensagem*/

        .wc-message-from-me.wc-message-from span {
            display: none;
        }

    .wc-message-from-me .wc-message-content {
        background-color: #707070;
        color: white;
        border-radius: 8px;
    }

    .wc-message-from-me svg.wc-message-callout path {
        fill: #C4C4C4;
    }

        .wc-message-from-me svg.wc-message-callout path.point-left {
            display: none;
        }

    .wc-message-from-me svg.wc-message-callout {
        right: -6px;
    }


/* from bot */

.wc-message-from-bot {
    float: left;
    left: 5px;
    margin-right: 20px;
    margin-left: 0px;
}

    .wc-message-from-bot span {
        margin-left: 50px !important;
    }

/*.wc-message-from .wc-message-from-bot span {
    margin-left: 50px;
}*/
.avatar-bot {
    content: url('../Images/icon_bot.png');
    position: relative;
    float: left;
    margin: 0px 0px 0px 0px;
    height: 38px;
    bottom: 24px;
    left: 40px;
    z-index: 9;
}

.avatar-me {
    content: url('../Images/icon_user.png');
    position: relative;
    float: right;
    bottom: 26px;
    right: 52px;
    margin: 0px 0px 0px 8px;
    border-radius: 50%;
    height: 38px;
    z-index: 9;
}

/*.wc-message-from-bot .wc-message-content::before {
    content: url("../Images/avatar.png");
    position: relative;
    float: left;
    margin: 0px 0px 10px -10px;
}*/

.wc-message-from-bot .wc-message-content {
    background: #446084;
    color: white;
    border-radius: 8px;
}

.div-img-balloon-bot {
    position: absolute;
    left: -10px;
    height: 32px;
    width: 32px;
    top: -16px;
    background-repeat: no-repeat;
    background-image: url('../Images/calda_bot_sky.png');
    transform: rotate(224deg)
}

.div-img-balloon-me {
    position: absolute;
    right: -15px;
    top: 0px;
    height: 31px;
    width: 31px;
    background-repeat: no-repeat;
    background-image: url('../Images/calda_user_sky_2.png');
}

.wc-message-from-bot svg.wc-message-callout path {
    fill: #C4C4C4;
}

    .wc-message-from-bot svg.wc-message-callout path.point-right {
        display: none;
    }

.wc-message-from-bot svg.wc-message-callout {
    left: -6px;
}


/* console */

.wc-console {
    max-width: 490px;
    border: 0px solid red;
    bottom: 10px;
    box-sizing: border-box;
    height: 60px;
    left: -3px;
    position: fixed;
    right: 0;
    width: 99%;
    margin: auto;
    background: #E3E3E3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

    .wc-console > .wc-upload,
    .wc-console > .wc-textbox,
    .wc-console > .wc-send,
    .wc-console > .wc-mic {
        position: absolute;
        top: 0;
        vertical-align: middle;
    }

    .wc-console label,
    .wc-console button {
        cursor: pointer;
        display: inline-block;
        height: 40px;
    }

    .wc-console svg {
        fill: #8a8a8a;
        margin: 11px;
    }

    .wc-console input[type=text],
    .wc-console textarea {
        border: none;
        height: 100%;
        outline: none;
        padding: 0;
        resize: none;
        width: 85%;
    }

    .wc-console.has-text .wc-send svg {
        fill: #446084;
    }

    .wc-console .wc-upload {
        cursor: pointer;
        position: relative;
    }

    .wc-console #wc-upload-input {
        font-size: 0;
        height: 0;
        left: 0;
        opacity: 0;
        outline: 0;
        position: absolute;
        top: 0;
        width: 0;
    }

    .wc-console .wc-upload svg {
        height: 18px;
        width: 26px;
    }

    .wc-console .wc-send {
        right: 0;
    }

        .wc-console .wc-send.hidden {
            visibility: hidden;
        }

    .wc-console .wc-textbox {
        /*bottom: 0;
        left: 10px;
        right: 49px;*/
        width: 80%;
        background: white;
        height: 40px;
        position: relative;
        top: 10px;
        border-radius: 14px;
    }

    .wc-console.has-upload-button .wc-textbox {
        left: 43px !important;
    }

    .wc-console .wc-textbox input {
        background-color: transparent;
    }

    .wc-console .wc-mic,
    .wc-console .wc-send {
        background-color: transparent;
        border: 0;
        padding: 0;
        right: 2%;
        position: absolute;
        top: 10px;
        height: 53px;
        width: 65px;
        background-repeat: no-repeat;
        background-size: 40px;
        background-image: url('../Images/icon_sendMessage.png');
        outline: none;
    }

        .wc-console .wc-mic.hidden,
        .wc-console .wc-send.hidden {
            visibility: hidden;
        }

        .wc-console .wc-send svg {
            height: 18px;
            width: 27px;
        }

        .wc-console .wc-mic.active path#micFilling {
            fill: #4e3787;
        }

        .wc-console .wc-mic.inactive path#micFilling {
            visibility: hidden;
        }

    .wc-console.has-text .wc-send svg {
        fill: #446084;
    }

.wc-shellinput {
    position: relative;
    left: 15px;
    font-family: Roboto !important;
    font-style: italic !important;
    font-weight: normal !important;
}

/* animation */
.wc-typing {
    background-image: url('../Images/typing_sky3.gif');
    background-position-x: 61px;
    background-position-y: -2px;
    background-repeat: no-repeat;
    height: 20px;
    width: 165px;
    font-family: Roboto !important;
    font-weight: normal !important;
}

.wc-animate-scroll {
    left: 0;
    position: absolute;
    transition: left .8s ease;
}

.wc-animate-scroll-rapid {
    left: 0;
    position: absolute;
    transition: left .4s ease;
}

.wc-animate-scroll-near {
    left: 0;
    position: absolute;
    transition: left .3s ease-in-out;
}


/* text formats */

.format-markdown > p {
    /*margin-bottom: 10px;*/
    font-family: Roboto;
}

.format-markdown p {
    margin-left: 5px;
    margin-top: 5px;
    font-family: Roboto;
    font-weight: normal;
}

.format-markdown code {
    white-space: pre-wrap;
}

.format-markdown + div {
    margin-top: 8px;
}

.format-markdown ol {
    padding-left: 30px;
    /* numbers are right-aligned to the period */
}

.format-markdown ul {
    padding-left: 33px;
}


/* browser scrollbar customization */

.wc-app ::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

    .wc-app ::-webkit-scrollbar * {
        background-color: transparent;
    }

.wc-app ::-webkit-scrollbar-thumb {
    background-color: #446084;
    border-radius: 4.5px;
    width: 50px;
}

.wc-app {
    scrollbar-face-color: #446084;
    scrollbar-track-color: #E3E3E3;
    scrollbar-arrow-color: #E3E3E3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* download button for Unknown media */

.wc-icon-download {
    display: inline-block;
    height: 20px;
    margin-left: 8px;
    vertical-align: top;
    width: 12px;
}

.wc-text-download {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
}

.wc-message-from-bot a.wc-link-download:link,
.wc-message-from-bot a.wc-link-download:visited {
    color: #000000;
    opacity: 1;
}

    .wc-message-from-bot a.wc-link-download:link .wc-icon-download,
    .wc-message-from-bot a.wc-link-download:visited .wc-icon-download {
        background-image: url('data:image/svg+xml;utf8,<svg width="12" height="20" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg"><path d="M.435 20v-1.25h11.13V20H.435zM12 10.44l-6 6.113-6-6.114.87-.88 4.512 4.59V0h1.236v14.15l4.512-4.59.87.88z" fill="#000000" fill-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
    }

.wc-message-from-bot a.wc-link-download:hover {
    color: #446084;
    opacity: 1;
}

    .wc-message-from-bot a.wc-link-download:hover .wc-icon-download {
        background-image: url('data:image/svg+xml;utf8,<svg width="12" height="20" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg"><path d="M.435 20v-1.25h11.13V20H.435zM12 10.44l-6 6.113-6-6.114.87-.88 4.512 4.59V0h1.236v14.15l4.512-4.59.87.88z" fill="#446084" fill-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
    }

.wc-message-from-bot a.wc-link-download:active {
    color: #446084;
    opacity: 0.8;
}

    .wc-message-from-bot a.wc-link-download:active .wc-icon-download {
        background-image: url('data:image/svg+xml;utf8,<svg width="12" height="20" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg"><path d="M.435 20v-1.25h11.13V20H.435zM12 10.44l-6 6.113-6-6.114.87-.88 4.512 4.59V0h1.236v14.15l4.512-4.59.87.88z" fill="#446084" fill-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
    }

.wc-message-from-me a.wc-link-download:link,
.wc-message-from-me a.wc-link-download:visited {
    color: #ffffff;
    opacity: 1;
}

    .wc-message-from-me a.wc-link-download:link .wc-icon-download,
    .wc-message-from-me a.wc-link-download:visited .wc-icon-download {
        background-image: url('data:image/svg+xml;utf8,<svg width="12" height="20" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg"><path d="M.435 20v-1.25h11.13V20H.435zM12 10.44l-6 6.113-6-6.114.87-.88 4.512 4.59V0h1.236v14.15l4.512-4.59.87.88z" fill="#ffffff" fill-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
    }

.wc-message-from-me a.wc-link-download:hover {
    color: #ffffff;
    opacity: 0.8;
}

    .wc-message-from-me a.wc-link-download:hover .wc-icon-download {
        background-image: url('data:image/svg+xml;utf8,<svg width="12" height="20" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg"><path d="M.435 20v-1.25h11.13V20H.435zM12 10.44l-6 6.113-6-6.114.87-.88 4.512 4.59V0h1.236v14.15l4.512-4.59.87.88z" fill="#ffffff" fill-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
    }

.wc-message-from-me a.wc-link-download:active {
    color: #ffffff;
    opacity: 0.6;
}

    .wc-message-from-me a.wc-link-download:active .wc-icon-download {
        background-image: url('data:image/svg+xml;utf8,<svg width="12" height="20" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg"><path d="M.435 20v-1.25h11.13V20H.435zM12 10.44l-6 6.113-6-6.114.87-.88 4.512 4.59V0h1.236v14.15l4.512-4.59.87.88z" fill="#ffffff" fill-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
    }


/* Scroll bar */

/* caminho do scroll bar */
::-webkit-scrollbar-track:horizontal {
    background: #E3E3E3;
    width: 70px;
}

/* scroll hover */
::-webkit-scrollbar-thumb:hover {
    background: #446084;
    border-radius: 5px;
    width: 50px;
}

/* BEGIN Carousel Novo */

.wc-message-wrapper.carousel > div .div-img-balloon-bot {
    background-size: 0px;
}

.wc-message-wrapper.carousel > div .wc-message-content {
    background-color: transparent;
    box-shadow: none;
}

.hero > div .ac-container > div:nth-child(2) {
    height: 8px !important;
}

.hero > div .ac-container > div:nth-child(3) {
    height: 0px;
}

    /*Alteração menu estilo Rui Marinho*/
    .hero > div .ac-container > div:nth-child(3) > div > div > div {
        height: 0px !important;
    }

    .hero > div .ac-container > div:nth-child(3) > div {
        border-radius: 25px;
        position: relative;
        top: -30px;
    }

.hero > div:nth-child(1) {
    background-color: #C9C9C9;
    border-radius: 10px;
}

.wc-list .thumbnail .ac-container {
    padding: 0px !important;
}

/* END Carousel Novo */
.wc-carousel-item button {
    background-color: #446084;
    border: 0px solid #446084;
    color: white;
    width: auto;
}

    .wc-carousel-item button:hover {
        background-color: white;
        border: 1px solid #446084;
        color: #446084;
        width: auto;
    }

.wc-list > .thumbnail > div > div > div:nth-child(2) {
    height: 0px !important;
}

.wc-list > .thumbnail {
    margin-top: 0px !important;
    border: 0px !important;
}

.wc-list .thumbnail:first-child .ac-pushButton {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.wc-list .thumbnail:last-child .ac-pushButton {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.ac-pushButton {
    white-space: normal !important;
}

/* THUMBNAIL */

.thumbnail > div:nth-child(1) {
    background-color: #C9C9C9;
    border-radius: 10px;
}

.thumbnail > div .ac-container > div:nth-child(3) > div > div > div {
    height: 0px !important;
}

.thumbnail img {
    max-width: 100px;
    max-height: 100px;
    min-width: 70px;
    min-height: 70px;
}

.thumbnail:first-child .ac-columnSet > div:nth-child(1) {
    flex: 1 1 70% !important;
}

.thumbnail:first-child .ac-columnSet > div:nth-child(2) {
    width: 5px !important;
}

.thumbnail:first-child .ac-columnSet > div:nth-child(3) {
    flex: 1 1 30% !important;
}
